<div mat-dialog-title>
    <h1>Task Form</h1>
  </div>
  <form [formGroup]="taskForm">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            matInput
            type="text"
            placeholder="title"
            formControlName="title"
          />
          @if(taskForm.get('title')?.invalid && taskForm.get('title')?.touched){
          <mat-error>Title is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input
            matInput
            placeholder="Description"
            formControlName="description"
          />
          @if(taskForm.get('description')?.invalid &&
          taskForm.get('description')?.touched){
          <mat-error>Description is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Due Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dueDate" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if(taskForm.get('dueDate')?.invalid &&
          taskForm.get('dueDate')?.touched){
          <mat-error>Due Date is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priority">
            @for (p of priority; track $index) {
            <mat-option [value]="p">{{p}}</mat-option>
            }
          </mat-select>
          @if(taskForm.get('priority')?.invalid &&
          taskForm.get('priority')?.touched){
          <mat-error>Priority is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            @for (s of status; track $index) {
            <mat-option [value]="s">{{s}}</mat-option>
            }
          </mat-select>
          @if(taskForm.get('status')?.invalid &&
          taskForm.get('status')?.touched){
          <mat-error>Status is required</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button color="warn" [mat-dialog-close]="false">
        Cancel
      </button>
      <button mat-raised-button color="primary" (click)="formSubmit()">
        {{data ? 'Update': 'Add'}}
      </button>
    </div>
  </form>
  